.example-spacer {
    flex: 1 1 auto;
  }

.margin-left-div {
    margin-left: 100px;
    margin-top: 30px;
}
.margin-top-div {
    margin-top: 30px;
}


.fContainer {
    display: flex;
    flex-direction: column;
}
.fHeaderItem {
    background-color: red;
}
.fFooterItem {
    background-color:violet;
    flex-direction: column;
}
.footerItem1 {
    align-self:flex-end;
}
.fBodyItem {
    display: flex;
    flex-direction: row;
}
.fbSideBarItem {
    background-color: yellow;
    width: 10%;
}
.fbContentItem {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}