<mat-toolbar>
  <span>My Expense Management</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="row">
  <div class="col-md-8 margin-left-div">
    <table class="table">
      <tr>
        <td>
          <input type="text" class="form-control" placeholder="Enter Title" [(ngModel)]="newExpense.title">
        </td>
        <td>
          <input type="number" class="form-control" placeholder="Enter Amount" [(ngModel)]="newExpense.amount">
        </td>
      </tr>
      <tr>
        <td>
          <label *ngIf="invalidForm" class="error-message"> Please Fill Both Input Fields</label>
        </td>
        <td>
          <button class="btn btn-primary" (click)="addNewExpense(newExpense)">Add New Expense</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-3 margin-top-div">
    <table class="table table-bordered">
      <tr>
        <td>Total Amount</td>
        <td>{{totalAmount}}</td>
      </tr>
      <tr>
        <td>Paid Amount</td>
        <td>{{paidAmount}}</td>
      </tr>
      <tr>
        <td>UnPaid Amount</td>
        <td>{{unPaidAmount}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row col-md-8 margin-left-div">
  <table class="table table-bordered">
    <th>Id</th>
    <th>Title</th>
    <th>Amount</th>
    <th>is Paid</th>
    <th>Action</th>
    <tr *ngFor="let expense of expenses" [ngClass]="{'item-paid' : expense.isPaid}">
      <td> {{ expense.id }} </td>
      <td> {{ expense.title }} </td>
      <td> {{ expense.amount }} </td>
      <td> <input type="checkbox" [checked]="expense.isPaid" (click)="updateExpense(expense);"> </td>
      <td>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="removeExpense(expense.id)">delete_forever
        </mat-icon>
      </td>
    </tr>
  </table>

</div>